* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 20px;
}

#container {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  margin: 20px;
  padding: 4%;
  min-height: 200px;
}

.title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator {
  padding: 2em;
}

/* The grid cell that holds the puzzle name, description, and puzzle grid */
.puzzle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rules {
  font-size: 0.7em;
}

/* the actual 10x10 grid */
.puzzlegrid {
  font-weight: bold;
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  position: relative;
  user-select: none;
  margin: 10px;
}

/* cells inside the 10x10 grid */
td.cell {
  border: 1px solid black;
  background-color: white;
  width: 30px;
  height: 30px;
  position: relative;
}

td.table-padding {
  width: auto;
  border: none !important;
  background-color: white !important;
}

td.uncertain {
  background-color: #dddddd;
}

td.certain {
  background-color: white;
}

td.topwall {
  border-top: 5px solid black;
}

td.leftwall {
  border-left: 5px solid black;
}

td.rightwall {
  border-right: 5px solid black;
}

td.bottomwall {
  border-bottom: 5px solid black;
}

td.topbridge {
  border-top: 1px dashed black;
}

td.leftbridge {
  border-left: 1px dashed black;
}

td.rightbridge {
  border-right: 1px dashed black;
}
td.bottombridge {
  border-bottom: 1px dashed black;
}

/* Any divs inside a cell have certain properties */
td div {
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

/*
div.topbridge {
  background: green;
  width: 8%;
  height: 70%;
  left: 46%;
  top: -35%;
}

div.leftbridge {
  background: green;
  width: 70%;
  height: 8%;
  left: -35%;
  top: 46%;
}

div.rightbridge {
  background: green;
  width: 70%;
  height: 8%;
  left: 65%;
  top: 46%;
}

div.bottombridge {
  background: green;
  width: 8%;
  height: 70%;
  left: 46%;
  top: 65%;
}
*/

div.toploop {
  background: blue;
  width: 16%;
  height: 50%;
  left: 42%;
  top: 0%;
}

div.leftloop {
  background: blue;
  width: 50%;
  height: 16%;
  left: 0%;
  top: 42%;
}

div.rightloop {
  background: blue;
  width: 50%;
  height: 16%;
  left: 50%;
  top: 42%;
}

div.bottomloop {
  background: blue;
  width: 16%;
  height: 50%;
  left: 42%;
  top: 50%;
}

div.topedge {
  background: blue;
  width: 100%;
  height: 8%;
  left: 0%;
  top: -4%;
}

div.leftedge {
  background: blue;
  width: 8%;
  height: 100%;
  left: -4%;
  top: 0%;
}

div.rightedge {
  background: blue;
  width: 8%;
  height: 100%;
  left: 96%;
  top: 0%;
}

div.bottomedge {
  background: blue;
  width: 100%;
  height: 8%;
  left: 0%;
  top: 96%;
}

div.topcross {
  background: red;
  width: 16%;
  height: 16%;
  left: 42%;
  top: -8%;
  transform: rotate(45deg);
}

div.leftcross {
  background: red;
  width: 16%;
  height: 16%;
  left: -8%;
  top: 42%;
  transform: rotate(45deg);
}

div.rightcross {
  background: red;
  width: 16%;
  height: 16%;
  left: 92%;
  top: 42%;
  transform: rotate(45deg);
}

div.bottomcross {
  background: red;
  width: 16%;
  height: 16%;
  left: 42%;
  top: 92%;
  transform: rotate(45deg);
}

/* Akari-specific styling */
td.akari.illuminated {
  background-color: greenyellow;
}

td.akari.wall {
  background-color: black;
  color: white;
}

.akari div.lamp {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  background: green;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.akari div.marked {
  top: 45%;
  left: 45%;
  background-color: green;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.akari .false:not(.wall) {
  color: white;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.akari .false.wall {
  color: black;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.akari :not(.wall) div.true {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.akari .wall div.true {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid white;
  border-radius: 50%;
}

/* Corral specific styling */
.corral td {
  border: 1px dashed black;
}

.corral .shaded {
  background-color: greenyellow;
}

.corral .unshaded {
  background-color: yellow;
}

/* Country Road specific styling */
.countryroad.clue {
  font-size: 0.75em;
  font-weight: normal;
}

/* Fillomino specific styling */
.fillomino div.true {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.fillomino .false {
  color: white;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

/*Heyawake specific styling */
.heyawake .shaded {
  background-color: green;
  color: white;
}

.heyawake .unshaded {
  background-color: greenyellow;
}

.heyawake :not(.shaded):not(.unshaded).false {
  color: #dddddd;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.heyawake .shaded.false {
  color: green;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.heyawake .unshaded.false {
  color: greenyellow;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.heyawake :not(.shaded) div.true {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.heyawake .shaded div.true {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid white;
  border-radius: 50%;
}

/* Hitori specific styling */

.hitori td.shaded {
  background-color: black;
  color: white;
}

.hitori td.unshaded {
  color: black;
  background-color: white;
}

.hitori td:not(.shaded):not(.unshaded) {
  color: black;
  background-color: #dddddd;
}

/* Kurodoko specific styling */
.kurodoko .shaded {
  background-color: black;
}

.kurodoko div.clue {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  padding-top: 3px;
}

.kurodoko .bounded {
  font-size: 0.5em;
  font-weight: normal;
}

.kurodoko div.marked {
  top: 45%;
  left: 45%;
  background-color: black;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* Masyu specific styling */
.masyu .pearl {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border: 2px solid black;
  padding-top: 2px;
}

.masyu .pearl.black {
  color: white;
  background-color: black;
}

.masyu .false .pearl {
  filter: opacity(50%);
}

.masyu .false .pearl.white {
  background-color: #dddddd;
}

/* Nurikabe specific styling */
.nurikabe .shaded {
  background-color: black;
}

.nurikabe div.clue {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  padding-top: 3px;
}

.nurikabe .bounded {
  font-size: 0.5em;
  font-weight: normal;
}

.nurikabe div.marked {
  top: 45%;
  left: 45%;
  background-color: black;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* Shikaku specific styling */
.shikaku div.true {
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.shikaku .false {
  color: white;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

/* Slitherlink specific styling */
.slitherlink td {
  border: none;
}

.slitherlink div.corner {
  background: black;
  width: 10%;
  height: 10%;
  border-radius: 50%;
}
