* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#container {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  padding: 4%;
  min-height: 200px;
}

/* The grid cell that holds the puzzle name, description, and puzzle grid */
.puzzle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rules {
  font-size: 0.7em;
}

/* the actual 10x10 grid */
.puzzlegrid {
  font-weight: bold;
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
  position: relative;
  user-select: none;
}

/* cells inside the 10x10 grid */
td.cell {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  position: relative;
}

td.table-padding {
  width: auto;
}

td.uncertain {
  background-color: #dddddd;
}

td.certain {
  background-color: white;
}

td.topwall {
  border-top: 5px solid black;
}

td.leftwall {
  border-left: 5px solid black;
}

td.rightwall {
  border-right: 5px solid black;
}

td.bottomwall {
  border-bottom: 5px solid black;
}

div.topbridge {
  position: absolute;
  z-index: 2;
  background: green;
  width: 8%;
  height: 70%;
  left: 46%;
  top: -35%;
}

div.leftbridge {
  position: absolute;
  z-index: 2;
  background: green;
  width: 70%;
  height: 8%;
  left: -35%;
  top: 46%;
}

div.rightbridge {
  position: absolute;
  z-index: 2;
  background: green;
  width: 70%;
  height: 8%;
  left: 65%;
  top: 46%;
}

div.bottombridge {
  position: absolute;
  z-index: 2;
  background: green;
  width: 8%;
  height: 70%;
  left: 46%;
  top: 65%;
}

/* Akari-specific styling */
td.akari.illuminated {
  background-color: greenyellow;
}

td.akari.wall {
  background-color: black;
  color: white;
}

.akari div.lamp {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  background: green;
  border-radius: 50%;
  width: 80%;
  height: 80%;
}

.akari div.marked {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  background-color: green;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

.akari .false:not(.wall) {
  color: white;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.akari .false.wall {
  color: black;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.akari :not(.wall) div.true {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.akari .wall div.true {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 90%;
  border: 2px solid white;
  border-radius: 50%;
}

/*Heyawake specific styling */
.heyawake .shaded {
  background-color: green;
  color: white;
}

.heyawake .unshaded {
  background-color: greenyellow;
}

.heyawake :not(.shaded):not(.unshaded).false {
  color: #dddddd;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.heyawake .shaded.false {
  color: green;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
}

.heyawake .unshaded.false {
  color: greenyellow;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}

.heyawake :not(.shaded) div.true {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.heyawake .shaded div.true {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 90%;
  border: 2px solid white;
  border-radius: 50%;
}

/* Kurodoko specific styling */
.kurodoko .shaded {
  background-color: black;
}

.kurodoko div.clue {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.kurodoko .bounded {
  font-size: 0.5em;
}

.kurodoko div.marked {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* Nurikabe specific styling */
.nurikabe .shaded {
  background-color: black;
}

.nurikabe div.clue {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
}

.nurikabe .bounded {
  font-size: 0.5em;
}

.nurikabe div.marked {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 2;
  background-color: black;
  border-radius: 50%;
  width: 10%;
  height: 10%;
}

/* Shikaku specific styling */
.shikaku div.true {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 2;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 50%;
}

.shikaku .false {
  color: white;
  text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
    -1px -1px 0 black;
}
